.fancy-btn{
    color:rgb(190, 31, 119);
}

.main-heading{
    background-color: rgb(71, 212, 255);
    color: rgb(245, 20, 20);
    font-size: 30px;
}

.secondary-heading{
    background-color: rgb(136, 179, 17);
    color: rgb(87, 6, 17);
    font-size: 20px;
}